/* Some default styling to get you started */
body {
  padding: 0;
  margin: 0;
  font-family: 'Roboto', sans-serif;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

.mobile-btn {
  display: none;
}

/* Add desktop styles here */
body {
  margin: 0;
  padding: 0;
  width: 100%;
}

.logo {
  float: left;
}
/* ~~ Top Navigation Bar ~~ */

#navigation-container {
  width: 100%;
  margin: 0 auto;
  height: 70px;
}

.navigation-bar {
  background-color: #ffda12;
  height: 100px;
  width: 100%;
  text-align:center;
}
.navigation-bar img{
  float: left;
  width: 66px;
  margin-right: -3%;
  position: absolute;
  left: 18%;
  top: 2%;
}
.navigation-bar ul {
  padding: 0px;
  margin: 0px;
  text-align: center;
  display:inline-flex;
  vertical-align:top;
      margin-top: 25px;
}

.navigation-bar li {
  list-style-type: none;
  padding: 0px;
  height: 24px;
  margin-top: 4px;
  margin-bottom: 4px;
  display: flex;
  justify-content: center;
}
.navigation-bar a:hover {
  background-color: #1a76d0;
  color: white;
}

.navigation-bar li a {
  color: #1a76d0;
  font-size: 16px;
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  text-decoration: none;
  padding: 5px 15px;

}

#menu {
  float: right;
}


/* cards styled */
.cards {
  display: flex;
  width: 100%;
  flex-flow: row wrap;
}
.blue {
  background-color:  #1a76d0;
  color: white;
  width: 20%;
  margin: 5px;
  text-align: center;
}
.cards :hover {
  background-color: #082745;
  color: white;
}
/* Add mobile styles here */
@media only screen and (max-width: 767px) {
  .mobile-btn {
    display: flex;
    position: absolute;
    margin: 35px 200px;
  }

.navigation-bar img {
  margin: 15px 45px;
  position: absolute;
  left: 0%;
  top: 0%;
}
  .navigation-bar ul {
    padding: 0px;
    margin: 0px;
    text-align: left;
    display: inline-block;
    vertical-align: top;
    position: fixed;
    left: 0px;
    align-self: flex-start;
    background-color: #082745;
    top: 100px;

  }
  .navigation-bar li {
    list-style-type: none;
    padding: 0px;
    height: 24px;
    margin-top: 4px;
    margin-bottom: 47px;
    display: flex;
    justify-content: center;
}
#container {
  display: none;
}
a:hover {
  background-color: #1a76d0;
  color: white;
}
.blue {
  width: 80%;
}
}
